/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
	font-family: "";
	src: url("") format("woff2"), url("") format("woff");
}


/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

.inter-body {
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.inter-light {
	font-family: "Inter", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.inter-bold {
	font-family: "Inter", sans-serif;
	font-weight: 900;
	font-style: normal;
}

/* ******************************** */

/* Colores */

/* ******************************** */

:root {
	--btn-color: #ff3000;
	--body-color: #ececec;
	--title-color: #75210b;
	--subtitle-color: #812b17;
	--text-button: #fff;
	--banda-color: #812b17;
	--text-color: #000;
}

body {
	height: 100vh;
	background-color: var(--body-color);
}
.container {
	display: grid;
	grid-template-columns: [certificate]auto [main]7.5rem [secondaryText]auto [asideLeft]auto [asideBread]21.25rem [asideRight]auto;
  	grid-template-rows: auto auto auto auto 4.0625rem 4.0625rem;
	gap: 10px;

	width: 100%;
	height: 100%;
	/* padding-left: 12.1875rem; */
}

.certificate {
	display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding-top: 20px;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    width: fit-content;
	padding-left: 30px;
}

.certificado__texto{
  width: 33.75rem;
  padding-bottom: 20px;
}

.content__image-uno{
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  padding-left: 12.1875rem;
  
}

.content__image-dos{
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  padding-left: 12.1875rem;
}

.main__title{
  grid-column: 1 / 3;
  grid-row: 3 / 4;

  text-align: center;
  font-size: 130.411px;
  color: var(--title-color);
  line-height: 1;
  align-self: end;
  padding-bottom: 5px;
  letter-spacing: 3px;
  padding-left: 12.1875rem;
}

.main__subtitle{
	grid-column: 3 / 4;
	grid-row: 3 / 4;
	font-size: 5.3125rem;
	color: var(--subtitle-color);
	line-height: 1.2;
	align-self: end;
	text-align: center;
	padding-bottom: 5px;
	letter-spacing: 3px;
}
.main__content-secondary {
	grid-column: 3 / 4;
  	grid-row: 4 / 7;

  	width: 21.25rem;
	text-align: center;
	line-height: 1.4;
}


.main__color {
	grid-column: 5 / 6;
	grid-row: 1 / -1;

	background-color: var(--banda-color);
}

/* .main__image-bread {
	grid-column: 4 / 7;
	grid-row: 3 / 7;
	transform: rotate(180deg);
} */

.main__image-bread2{
	grid-column: 4 / 7;
	grid-row: 1 / 5;
}

p{
	color: black;
  	font-size: 1.125rem;
}

.content__btn {
	display: grid;
	justify-items: center;
	grid-column: 1 / 3;
	grid-row: 5 / 6;
  	padding-top: 20px;
	padding-left: 12.1875rem;

	.btn__discount {
		display: block;
		width: 80%;
		padding: 0.625rem 1.25rem;
		border-radius: 12px;
		color: var(--text-button);
    	font-size: 1.375rem;
    	font-weight: 900;
		background-color: var(--btn-color);
		text-align: center;
		font-style: italic;
		transition: all 0.3s ease-in-out;
		margin-bottom: 5px;
	}

	.discount__text {
		color: var(--btn-color);
    	font-size: .9375rem;
    	font-style: italic;

	}

	.btn__discount:hover{
		transform: scale(1.1);
		color: var(--btn-color);
		border: 1px solid var(--btn-color);
		background-color: var(--body-color);
		transition: all 0.3s ease-in-out;
	}
}

.languages__list-items{
	display: flex;
	gap: .625rem;
	width: fit-content
}

li{
	width: fit-content;
}

a{
	display: inline-block;
	color: grey;
	font-size: 1.125rem;
	transition: all 0.3s ease-in-out;
}

.container__es:hover, .container__en:hover, .container__sk:hover{
	color: var(--btn-color);
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
}
